/* * {
    box-sizing: border-box;
}

.sidenavchat {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    z-index: 1;
    right: 2%;
    top: 50%;
    min-width: 30vw;
    background: #9BA5BE;
     overflow-x: hidden;
    padding: 8px 0;
}

.sidenavchat a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenavchat a:hover {
    color: #064579;
}

.mainchat {
    margin-left: 140px;
    /* Same width as the sidebar + left position in px */
    /* font-size: 28px; */
    /* Increased text to enable scrolling */
    /* padding: 0px 10px;
} */

/* .remove ul li {
    text-decoration: none;
    list-style-type: none;
}

.chatBtn {
    padding: 3px 8px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    margin-top: 10px;
    outline: none;
    position:relative;
        z-index: -1
}

.chatBtn:hover {
    background-color: #fff;
    color: #000;
    outline: none;
    box-shadow: 3px black;
}

.chat-title {
    margin-bottom: 50px;
} */ */

/* @media screen and (max-height: 450px) {
    .sidenavchat {
        padding-top: 15px;
    }
    .sidenavchat a {
        font-size: 18px;
    }
} */

.exterior{
}
.dollsBackDrop{
    background-color:rgba(0, 0, 0, 0.603);
    /* opacity: 80%; */
    position:fixed;
    z-index:2;
    text-align:center;
    height:100%;
    width:100%;

}
.leftCurtain{
    background-image: url("./left.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width:47%;
    height:100%;
    
    position:fixed;
    left:0;
    top:0%;
    z-index:1;
}
.leftcurtainOn{
    animation:leftCurtain 2s forwards ;


}
.rightCurtainOn{
    animation:rightCurtain 2s forwards ;
}
.rightCurtain{
    background-image: url("./right.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width:47%;
    height:100%;
    position:fixed;
    right:0;
    top:0%;
    z-index:1
}


.allContainer{
    background-color:black;
    background-image:url("./background.jpg");
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position-x:center;
    text-align:center;
    position:fixed;
    width:100%;
    height:100%;
}

.nameInputDiv{
    width:40%;
    margin:auto;
    position:relative;
    top:40px;
    z-index:2;
    background-color:white;
    border: double black;
    text-align: center;
}
.nameinput{
    margin:auto;
    width:80%;
}


.visible{
    visibility:visible
}
.invisible{
    visibility: collapse;
    width:0;
    height:0;

}


/* dolls and doll animations */
.ghostHeadAndreB{
    background-image: url("./andrebhead.png");
    background-repeat:no-repeat;
    background-size:auto 100%;
    position:absolute;
    transform: rotate(370deg);
    top:21%;
    left:51.3%;
    transform: rotate(370deg);
    height:75px;
    width:75px;


}
.andreBFall{
    animation:ghostheadandreb 1.5s both;
    transform-origin: center;

}
@keyframes ghostheadandreb{
    0%{top:-50%;
        left:51%;
        transform:rotate(30deg)}
    
    
    100%{top:21%;
    left:51.3%;
    transform: rotate(370deg);
}
}

.ghostHeadRene{
    
        background-image: url("./renehead.png");
        background-repeat:no-repeat;
        background-size:auto 100%;
        transform: rotate(370deg);
        position:absolute;
        top: 20%;
        left:49.5%;
        height:85px;
        width:85px;
        
    
    }
    .reneFall{
        animation:ghostheadrene 1.5s both;
        transform-origin: center;

    }

    @keyframes ghostheadrene{
        0%{top:-50%;
            left:50%;
            transform:rotate(30deg)}
        
        
        100%{top:20%;
        left:49.5%;
        transform: rotate(370deg);
    }
    }
    .ghostHeadPablo{
        background-image: url("./pablohead.png");
        background-repeat:no-repeat;
        background-size:auto 100%;
        position:absolute;
        transform: rotate(370deg);
        top: 22%;
        left:51%;
        height:70px;
        width:70px;
       
    
    }
    .pabloFall{
        animation:ghostheadpablo 1.5s both;
        transform-origin: center;
        
    }
    @keyframes ghostheadpablo
    {
        0%{top:-50%;
            left:51%;
            transform:rotate(30deg)}
        
        
        100%{top:22%;
        left:51%;
        transform: rotate(370deg);
    }
    }
    

    .ghostHeadBenjamin{
        background-image: url("./benjaminhead.png");
        background-repeat:no-repeat;
        background-size:auto 100%;
        position:absolute;
        transform: rotate(370deg);
        top: 21.5%;
        left:50%;
        height:80px;
        width:80px;
        
    
    }
    .benjaminFall{
        animation:ghostheadbenjamin 1.5s both;
        transform-origin: center;

    }
    @keyframes ghostheadbenjamin
    {
        0%{top:-50%;
            left:51%;
            transform:rotate(30deg)}
        
        
        100%{top:21.5%;
        left:50%;
        transform: rotate(370deg);
    }
    }
    .ghostHeadLeonora{
        background-image: url("./leonorahead.png");
        background-repeat:no-repeat;
        background-size:auto 100%;
        position:absolute;
        transform: rotate(370deg);
        top: 22%;
        left:51%;
        height:75px;
        width:75px;
        
    
    }
    .leonoraFall{
        animation:ghostheadleonora 1.5s both;
        transform-origin: center;

    }
    @keyframes ghostheadleonora
    {
        0%{top:-50%;
            left:51%;
            transform:rotate(30deg)}
        
        
        100%{top:22%;
        left:51%;
        transform: rotate(370deg);
    }
    }

.ghostHeadMax{
    background-image: url("./maxhead.png");
    background-repeat:no-repeat;
    background-size:auto 100%;
    position:absolute;
    transform: rotate(370deg);
    top: 21%;
    left:50%;
    height:75px;
    width:75px;
    
}
.maxFall{
    animation:ghostheadmax 1.5s both;
    transform-origin: center;

}
@keyframes ghostheadmax
{
    0%{top:-50%;
        left:49%;
        transform:rotate(30deg)}
    
     
    100%{top:21%;
    left:50%;
    transform: rotate(380deg);
}
}
.ghostHeadAndre{
    background-image: url("./andrehead.png");
    background-repeat:no-repeat;
    background-size:auto 100%;
    transform: rotate(370deg);
    position:absolute;
    top: 21.5%;
    left:50.5%;
    height:75px;
    width:75px;
   

}
.andreFall{
    animation:ghostheadandre 1.5s both;
    transform-origin: center;

}
@keyframes ghostheadandre
{
    0%{top:-50%;
        left:51%;
        transform:rotate(30deg)}
    
    
    100%{top:21.5%;
    left:50.5%;
    transform: rotate(370deg);
}
}
.ghostHeadMarcel{
    background-image: url("./marcelhead.png");
    background-repeat:no-repeat;
    background-size:auto 100%;
    transform: rotate(370deg);
    position:absolute;
    top: 22%;
    left:50%;
    height:70px;
    width:70px;
    
}
.marcelFall{
    animation:ghostheadmarcel 1.5s both;
    transform-origin: center;
}
@keyframes ghostheadmarcel
{
    0%{top:-50%;
        left:51%;
        transform:rotate(30deg)}
    
    
    100%{top:22%;
    left:50%;
    transform: rotate(370deg);
}
}
.rotateHead{
    animation: rotateHead 1s forwards;
    transform-origin: center;
}

@keyframes rotateHead {
    from{transform:rotate(30deg)
  
  }
   to{transform:rotate(360deg)}
  
  }


.flyAway{
    animation:flyaway 1.5s both;

}
@keyframes flyaway{
    30%{transform:translateX(60%);
        opacity:.1}
    31%{transform:translatex(-60%);
        opacity:0}
    100%{transform:translateX(0);
        opacity:1}
    
}
.messageBox::-webkit-scrollbar {
    display: none;
  }
  .messageBox{
    border:double black;
    width:100%;
    overflow:scroll;
    text-align: left;
    -ms-overflow-style: none;
    scrollbar-width: none; 

}
.onChatbox{
    height:300px;
}

.finalPoemModal{
    background-color:rgba(0, 0, 0, 0.452);
    /* opacity: 80%; */
    position:fixed;
    z-index:2;
    text-align:center;
    height:100%;
    width:100%;
}
.rules{
    background-color:rgba(0, 0, 0, 0.452);
    /* opacity: 80%; */
    position:fixed;
    z-index:3;
    text-align:center;
    height:100%;
    width:100%;
}
.finalPoemModalContent{
    position:fixed;
    background-color:white;
    top:30%;
    left:25%;
    width:50%;
    height:60%;
    overflow: scroll;
}
.finalPoemModalContent::-webkit-scrollbar {
    display: none;
  }
.downloadButton{
    position:absolute;
    bottom:5%;
    right:45%;
}
.rulesContent{
    position:fixed;
    background-color:white;
    top:30%;
    left:25%;
    width:50%;
    height:60%;
    overflow: hidden;
}
.nameWarning{
    position:relative;
}


.interior{
  
    position:relative;
    widows: 100%;
    height:100%;
    margin:auto;
    z-index:0;
    text-align: center;
}

.closeModal{
    border:1px solid black;
    background-color:white;
    
    position:absolute;
    padding:3%;

    right:5%;
    top:1%;
}
.closeModalPoem{
    border:1px solid black;
    background-color:white;
    
    position:fixed;
    padding:2%;

    right:27%;
    top:33%;
}

.gameButton{
    margin:1%;
}
p{
    position:relative;
    top:15%;
}
.closeModal:hover{
    background-color:black;
    color:white;
}
.closeModalPoem:hover{
    background-color:black;
    color:white;
}

.closeRules{
    border:1px solid black;
    background-color:white;
    position:absolute;
    padding:3%;

    right:5%;
    top:1%;
}
.closeRules:hover{
    background-color:black;
    color:white;
}

.openRulesButton{
    float:right;
}


@keyframes rightCurtain {
    from {
        transform:translatex(0px)
    }
    90%{
        transform:translatex(500px)

    }
    100%
        {
            visibility:collaps;
            transform:translatex(500px)
        }
  }

  
@keyframes leftCurtain {
    from {
        transform:translatex(0px)
    }
    90%{
        transform:translatex(-500px)

    }
    100%
        {
            visibility:collaps;
            transform:translatex(-500px)
        }
  }
  a{
      color:black;
  }

  .sidenavchat{
      border:double black;
      position:fixed;
      top:10%;
      right:11%;
      z-index:1;
      background-color:white;
      width:20%;
      text-align:center;
  }


  .toLeft{
      width:60%;
      position:relative;
      left:1%;
      margin:2px;

      
      
  }

  .toRight{
      width:60%;
        position:relative;
        right:-37%;
        margin:2px;

  }

  .table{
      /* background-image:url("./table2.png");
      background-repeat:no-repeat;
      background-size:100%; */
      position:fixed;
      bottom:6%;
      width:40%;
      left:30%;
      margin:auto;
      background-color:white;
      border:double black;

  }

  .display{
      margin:1%;
  }
  .sentenceInput{
      width:80%;
  }
  @keyframes fallAnimation{
    0% {bottom:100% }
    100%{bottom:1%}
}
@keyframes fallAnimation2{
    0% {bottom:100% }
    100%{bottom:10%}
}
.andreb{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./andreb.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    left:2%;
    animation:fallAnimation 1s both;
    animation-delay:1.5s
    

}
.andreb:hover{
    background-image:url("./andreblight.png");
}

.andrebSelected{
    background-image:url("./andreblight.png");
    width:12%

}
.rene{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./rene.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    left:8%;
    animation:fallAnimation2 1s both;
    animation-delay:1s

}
.rene:hover{
    background-image:url("./renelight.png");
}
.reneSelected{
    background-image:url("./renelight.png");
    width:12%



}
.pablo{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./pablo.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    left:18%;
    animation:fallAnimation 1s both;
    animation-delay:.5s

}
.pablo:hover{
    background-image:url("./pablolight.png");

}
.pabloSelected{
    background-image:url("./pablolight.png");
    width:12%

}
.nameTag{
    position:relative;
    background-color:white;
    
    padding:3%;
    border:double black;
    top:60%
}
.benjamin{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./benjamin.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    left:26%;
    animation:fallAnimation2 1s both;

}

.benjamin:hover{
    background-image:url("./benjaminlight.png");

}
.benjaminSelected{
    background-image:url("./benjaminlight.png");
    width:12%



}



  .leonora{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./Leonora.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    right:26%;
    animation:fallAnimation 1s both
}
.leonora:hover{
    background-image:url("./leonoralight.png");
}
.leonoraSelected{
    background-image:url("./leonoralight.png");
    width:12%



}

.max{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./Max.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    right:18%;
    animation:fallAnimation2 1s both;
    animation-delay:.5s

}
.max:hover{
    background-image:url("./maxlight.png")
}
.maxSelected{
    background-image:url("./maxlight.png");
    width:12%

}
.andre{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./andre.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    right:10%;
    animation:fallAnimation2  1s both;
    animation-delay: 1s

}
.andre:hover{
    background-image:url("./andrelight.png")
}
.andreSelected{
    background-image:url("./andrelight.png");
    width:12%

}
.marcel{
    visibility:visible;
    height:50%;
    widows: 10%;
    background-image:url("./marcel.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:2;
    width:8%;
    margin:2%;
    right:2%;

    animation:fallAnimation 1s both;
    animation-delay:1.5s;
}
.marcel:hover{
    background-image:url("./marcellight.png")

}
.marcelSelected{
    background-image:url("./marcellight.png");
    width:12%

 

}
.title{
    background-color:white;
    border: double black;
    width:30%;
    margin:auto;
    overflow: hidden;
}
.titleAnimate{

    animation:titleAnimate 1s both
}
.tableAnimate{
    animation:tableAnimate 1s both
}

@keyframes titleAnimate{
    0% {transform:scaleX(0);
    transform-origin: left;}
    100%{transform:scaleX(1);
        transform-origin: left}
}
@keyframes tableAnimate{
    0% {transform:scaleX(0);
    transform-origin: right;}
    100%{transform:scaleX(1);
        transform-origin: right}
}
.titleText{
    animation:titleText 1s both;
    animation-delay: 1s;

}
.tableContentText{
    animation:TableContentText 1s both;
    animation-delay: 1s;

}
@keyframes titleText{
    0%{
        visibility:collapse
    }
    100%{
        visibility:visible
    }
}
@keyframes tableContentText{
    0%{
        visibility:collapse
    }
    100%{
        visibility:visible
    }
}










  @media only screen and (max-width: 480px){
  
    .messageBox{
        border:double black;
        width:100%;
        overflow:scroll;
        text-align:left;
        max-height:30%;
        overflow:scroll;
  
    }
    li{
        position:relative;
        left:-70%;

    }
   

    
    .leftCurtain{
        background-image: url("./left.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:47%;
        height:100%;
        
        position:fixed;
        left:0;
        z-index:1;
    }
    .rightCurtain{
        background-image: url("./right.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width:47%;
        height:100%;
        position:fixed;
        right:0;
        z-index:1
    }
    .table{
        /* background-image:url("./table2.png");
        background-repeat:no-repeat;
        background-size:auto 100%; */
        position:fixed;
        bottom:5%;
        z-index:1;
        left:0;
        width:100%;
        height:10%;
  
    }

    .allContainer{
        background-size:auto 100%;
        background-position: center;
    }
    @keyframes fallAnimation{
        0% {bottom:100% }
        100%{bottom:-15%}
    }
    @keyframes fallAnimation2{
        0% {bottom:100% }
        100%{bottom:-20%}


  }

  .leonora{
    height:50%;
    background-image:url("./Leonora.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:1;
    width:15%;
    margin:2%;
    left:5%;
    animation:fallAnimation 1s both
    
}

.max{
    height:50%;
    background-image:url("./Max.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:1;
    width:15%;
    margin:2%;
    left:20%;
    animation:fallAnimation2 1s both;
    animation-delay:.5s

}
.Andre{
    height:50%;
    background-image:url("./andre.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:1;
    width:15%;
    margin:2%;
    right:15%;
    animation:fallAnimation2  1s both;
    animation-delay: 1s

}
.marcel{
    height:50%;
    background-image:url("./marcel.png");
    background-repeat:no-repeat;
    background-size: contain;
    position:fixed;
    z-index:1;
    width:20%;
    margin:2%;
    right:0%;

    animation:fallAnimation 1s both;
    animation-delay:1.5s;

}
.title{
    background-color:white;
    border: double black;
    margin:auto;
    width:50%;
    position:relative;
    top:5%;
    font-size:medium;
    z-index:1

    
}
ul{ list-style-type: none; }

  

.largeChat{
    left:10%;
width:80%
}

.centeredLi{
    left:-10%;

}

}
